html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    background-color: #57c07a;
    padding: 2em;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.grid {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.grid-content {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid-content > div {
    width: 33%;
    border: .25em solid #000;
    cursor: pointer;
    position: relative;
}

.grid-content > div:hover {
    background-color: #e7ffee;
}

.grid-content > div.winner {
    background-color: #82dda0;
}

.grid-content > div:nth-child(-n+3) {
    border-top: .25em solid transparent;
}

.grid-content > div:nth-child(n+7) {
    border-bottom: .25em solid transparent;
}

.grid-content > div:nth-child(3n+1) {
    border-left: .25em solid transparent;
}

.grid-content > div:nth-child(3n+3) {
    border-right: .25em solid transparent;
}

.grid-content img {
    position: absolute;
    padding: 1em;
    width: 100%;
}

#recommencer {
    margin-top: 4em;
    padding: 1em 2em;
    background-color: #82dda0;
    border: 1px solid #57c07a;
    font-weight: bold;
    transition: transform .1s ease;
}

#recommencer:hover {
    background-color: #e7ffee;
}

#recommencer:active {
    transform: translateY(.1em);
}

@media (min-width: 25em){
    .grid {
        width: 25em;
        height: 25em;
        padding: 0;
    }
}
